.vmb-helping {
    background-color: #FFA300;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.vmb-help-border-bt {
    border-bottom: #FFA300 solid;
    display: inline-block;
}

.vmb-help-ready-title {
    width: 55%;
    font-size: 18px;
}

.vmb-help-check {
    padding-top: 2rem;
    font-size: 18px;
}

.vmb-help-code-place {
    margin-top: 2rem;
    font-size: 12px;
    color: #837A76;
}

.vmb-help-phone-number {
    font-size: 24px;
    color: #00264E;
}

.vmb-help-phone-title {
    font-size: 24px;
    line-height: 29px;
    color: #FFA300;
}

.vmb-help-border-title {
    font-size: 18px;
    color: #4D4444;
}

.vmb-help-border-content {
    font-size: 12px;
    line-height: 14px;
    color: #2A2326;
}

.vmb-help-border-content-container {
    padding: 25px;
}

.vmb-help-border-content-left {
    border-right: 1px solid #C4C4C4;
    padding: 15px;
}

.vmb-help-border-content-right {
    padding: 15px;
}

.vmb-detail-register {
}

.vmb-help-page form .register input {
    border-bottom: 1px solid #FFA300 !important;
}